html{
	background-color: #212121;
	height: 100vh;
}

h1, h3{
	color: white;
	font-family: "Open Sans", Verdana, sans-serif;
	font-weight: lighter;
	margin: 30vh auto 0 auto;
	text-align: center;
	text-shadow: 2px 2px 5px black;
	width: 100%;
}

h3{
	margin: 10% auto;
}

a{
	color: white;
}