<!DOCTYPE html>
<html>
<head>
	<title>Mike Carbone</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/prettyMain.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i" rel="stylesheet">
	<link rel="icon" href="{{ static_url('img/mcIcon-01.png') }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108299328-3"></script>
	<script>
 		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-108299328-3');
	</script>


</head>
<body>
		<!--<a id="logoZone" href="#main"><img id="logo" src="../img/mcIcon-01.png"></a>-->
		<nav>
			<ul>
				<li><a href="#about">about</a> |</li>
				<li><a href="#projects">projects</a> |</li>
				<li><a href="#contact">contact</a> |</li>
				<li><a href="/underConstruction">resume</a></li>
			</ul>
		</nav>
		<section class="mainPage" id="main">
			<div class="text">
				<h1 class="bigText">mike carbone</h1>
				<h2 class="lightText">interactive digital media, philadelphia, pa</h2>
			</div>
		</section>
		<section class="aboutSection" id="about">
			<img class="roundedPic" id="sanFran" alt="Picture of me" src="{{ static_url('img/meYosemite.png') }}">
			<div class="verDivider"></div>
			<div id="aboutText">
				<h4>My name is Mike Carbone, an Interactive Digital Media sophomore at Drexel University. As of December 2017, I have experience with HTML, CSS, JavaScript, and Python. Using these tools, I really like creating simple, efficient, and user-friendly applications that serve a direct purpose. I'm also a pretty cool dude that likes Rocket League and PUBG.</h4>
				<h5>TL;DR: I like making cool web apps</h5>
			</div>
		</section>
		<section class="projectsSection" id="projects">
				<div class="row">
						<div class="col">
								<a href="http://goBibit.com" target="_blank">
								<img class="projectImg roundedPic" alt="goBibit logo" src="{{ static_url('img/goBibitIcon2_v02.png') }}"">
								<h2>goBibit</h2>
								<hr>
								<h3>Citation service with a python backend. Fastest of its kind out there.</h3>
								</a>
						</div>
						<div class="col">
								<a href="http://tetrad.glitch.me" target="_blank">
								<img class="projectImg roundedPic" alt="A-Frame logo" src="{{ static_url('img/aFrameLogo2.png') }}">
								<h2>WebVR Color</h2>
								<hr>
								<h3>Tetrad color demonstration made for WebVR. Created using the A-Frame framework.</h3>
								</a>
						</div>
						<div class="col">
								<a href="https://projects.invisionapp.com/share/NTEJPDBV6#/screens/264821951" target="_blank">
								<img class="projectImg roundedPic" alt="IMDb logo" src="{{ static_url('img/imdbLogo2.png') }}">
								<h2>IMDb Redesign</h2>
								<hr>
								<h3>Prototype of IMDb, designed to be more cinematic and overall less ugly.</h3>
								</a>
						</div>
				</div>
				<div class="row">
						<div class="col">
								<a href="http://TickleEdSheeran.com" target="_blank">
								<img class="projectImg roundedPic" alt="Picture of Ed Sheeran" src="{{ static_url('img/edIcon.png') }}">
								<h2>Tickle Ed Sheeran</h2>
								<hr>
								<h3>Yeah...not too proud of this one.</h3>
								</a>
						</div>
						<div class="col">
								<a href="http://MikeAndRob.glitch.me" target="_blank">
 								<img class="projectImg roundedPic" alt="A-Frame logo" src="{{ static_url('img/aFrameLogo2.png') }}">
								<h2>WebVR Presentation</h2>
								<hr>
								<h3>Explaining A-Frame in...A-Frame!</h3>
								</a>
						</div>
						<div class="col">
								<a href="https://youtu.be/6mLUUTysPs8" target="_blank">
								<img class="projectImg roundedPic" alt="Play button picture" src="{{ static_url('img/playLogo2.png') }}">
								<h2>2D Animatic</h2>
								<hr>
								<h3>Created using After Effects and Photoshop. This was mad tedious.</h3>
								</a>
						</div>
				</div>
				<div class="row">
						<div class="col">
								<a href="https://youtu.be/O1Ua7aKUuqQ" target="_blank">
								<img class="projectImg roundedPic" alt="Play button picture" src="{{ static_url('img/playLogo2.png') }}">
								<h2>3D Animatic</h2>
								<hr>
								<h3>Created using Maya and After Effects. Again, mad tedious but I think the results are funny.</h3>
								</a>
						</div>
						<div class="col">
								<a href="https://youtu.be/qpBrQbvq99c" target="_blank">
								<img class="projectImg roundedPic" alt="Picture of Paul Giamatti" src="{{ static_url('img/marty.png') }}">
								<h2>Trailer Recut</h2>
								<hr>
								<h3>Edited Big Fat Liar to make it look like a thriller.</h3>
								</a>
						</div>
						<div class="col">
								<a href="https://youtu.be/6mg59yFidXo" target="_blank">
								<img class="projectImg roundedPic" alt="Unreal Engine 4 logo" src="{{ static_url('img/UE4-logo.png') }}">
								<h2>Environment Creation</h2>
								<hr>
								<h3>Created using splash maps, height maps, custom terrain and more in Unreal Engine 4.</h3>
								</a>
						</div>
				</div>
		</section>
		<section class="contactSection" id="contact">
			<h1>let's get to work</h1>
			<h2>mfcbone@gmail.com</h2>
			<ul>
				<li><a href="http://twitter.com/themcarbone" target="_blank"><img src="{{ static_url('img/twitterIcon2.png') }}" class="roundedPic smallIcon" id="twitterIcon"></a></li>
				<li><a href="https://github.com/carbonology" target="_blank"><img src="{{ static_url('img/githubIcon2.png') }}" class="roundedPic smallIcon" id="githubIcon"></a></li>
				<li><a href="https://www.linkedin.com/in/mike-carbone-98a950129/" target="_blank"><img src="{{ static_url('img/linkedInIcon.png') }}" class="roundedPic smallIcon" id="linkedInIcon"></a></li>
			</ul>
		</section>
		<script type="text/javascript" src="{{ static_url('js/fancy.js') }}"></script>
</body>
</html>